# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Environment variables
.env
.env.*
.env*.local

# Build files
build/
dist/

# Native
android/
ios/

*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Logs
logs/
*.log

# TypeScript
*.tsbuildinfo

# Cache
.cache/
.parcel-cache/

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/

# Android Studio
.idea/
*.iml

# Temporary files
*.orig
*.swp
*.swo

# Firebase
firebase-debug.log
firebase-debug.*.log